
.nav-item{
    padding-left: 40px;
}
.dropdown{
    margin-top: 5%;
}
.choose-theme {
    margin-top: 5%;
}
.my-menu{
    box-shadow: 0px -7px 10px -9px #000000;
}
.complete-button{
    margin-left: 40%;
}
.test-result{
    justify-content: center;
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
    width: 600px;
}

.countdown {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 5%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background:#ff000057; /* Цвет фона */
    border: 1px solid #333; /* Параметры рамки */
    width: 90px;
    text-align: center;

}
.login-help{
    font-size: 12px;
}
.my-form-menu {
    margin-bottom: 0;
}

.my-form-menu input {
    background: none;
    border: none;
    cursor: pointer;
}
.my-form-menu::before,
.my-form-menu::after {
    box-sizing: content-box;
}